* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 32px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flip-card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    transform-origin: center;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card .flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 32px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}